$navyblue: #05445e;
$bluegrotto: #189ab4;
$bluegreen: #75e6da;
$babyblue: #d4f1f4;

@import "./reset.css";
@import "./shop-item.scss";
@import "./font.scss";
@import "./shop-item-list.scss";
@import "./navbar.scss";
@import "./cart-item-list.scss";
@import "./cart-item.scss";
@import "./button.scss";
@import "./add-item-edit.scss";
@import "./media-query.scss";
@import "./footer.scss";

html {
  font-family: Noto Sans TC, "sans-serif";
}

body {
  min-height: 100vh;
}

.main-content {
  grid-area: main-content;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "main-content cart-item-list";
}

.head-page-title {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: hsl(160, 100%, 30%);
  overflow: hidden;
}
