@import "./reset.css";
@import "./shop-item.scss";
@import "./font.scss";
@import "./shop-item-list.scss";
@import "./navbar.scss";
@import "./cart-item-list.scss";
@import "./cart-item.scss";
@import "./button.scss";
@import "./add-item-edit.scss";
@import "./media-query.scss";
@import "./footer.scss";

html {
  font-family: Noto Sans TC, "sans-serif"
}

body {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  min-height: 100vh;
}

header {
  // margin: 1rem;
  // margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: hsl(160, 100%, 30%);
  overflow: hidden;
}

