.cart-item-list {
  grid-area: cart-item-list;
  padding: 1rem;
  float: right;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsla(174, 69%, 68%, 0.02);

  button {
    width: 100px;
    align-self: center;
    
    .link {
      text-decoration: none;
      color: inherit;
    }
  }
}


.total-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  gap: 4rem;

  .total-price-text {
    justify-content: flex-start;
  }
  
  .total-price-value {
    justify-content: flex-end;
  }
}