.cart-item {
  list-style: none;
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 0.5em;

  .cart-item-name {
    flex: 4;
  }

  .cart-item-price {
    flex: 1;
  }

  .btn--minus, .btn--plus {
    height: 15px;
  }

  .btn--delete{
    height: 20px;
  }

  .cart-item-amount {
    font-weight: bold;
  }
}