.cart-item-list {
  min-height: 100vh;
  width: 20%;
  padding: 1rem;
  background: #FFF;
  float: right;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  button {
    width: 100px;
    align-self: center;
  }
}


.total-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  gap: 4rem;

  .total-price-text {
    justify-content: flex-start;
  }
  
  .total-price-value {
    justify-content: flex-end;
  }
}