@font-face {
    font-family: Noto Sans TC;
    src: url(../fonts/NotoSansTC-Black.otf);
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../fonts/NotoSansTC-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../fonts/NotoSansTC-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../fonts/NotoSansTC-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../fonts/NotoSansTC-Light.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Noto Sans TC;
    src: url(../fonts/NotoSansTC-Thin.otf);
    font-weight: 100;
    font-style: normal;
}