nav {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $navyblue;
  position: fixed;
  top: 0;

  .navbar-container {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    color: $babyblue;
    font-weight: bold;

    li {
      list-style-type: none;
      position: relative;
    }

   .nav__link::after {
      content: "";
      position: absolute;
      bottom: -0.125rem;
      left: 0.3rem;
      right: 0.3rem;
      height: 3px;
      background: $babyblue;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      transition: -webkit-transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
    }
    
    .nav__link:hover::after {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }


  .cart-button {
    margin-right: 1rem;
    height: 1.5rem;

  }

  .btn--add-item {
    margin-left: auto;
    // border: 1px solid green;
    background: hsl(160, 100%, 30%);
    height: 1.75rem;
    color: white;
  }
}